* {
  box-sizing: border-box;
  outline: none;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 22px;
  line-height: 2em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 351px) {
  .footer {
    width: 80%;
    margin: 0 auto;
  }

  .body > .new-msg {
    width: 80%;
    margin: 0 auto;
  }
}
