@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 22px;
  line-height: 2em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

#idmaker {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-content: center;

  .id-preview {
    width: 670px;
    height: 300px;
  }
}

#picture-container {
  position: relative;
  width: 670px;
  height: 350px;

  #picture-overlay {
    z-index: 1000;
    position: absolute;
    top: 35px;
    left: 35px;
    width: 670px;
    height: 300px;
    translate: 200px 50px;
  }

  #video {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 670px;
    height: 300px;
    z-index: 0;
  }

  #canvas {
    position: absolute;
    display: none;
    top: 35px;
    left: 35px;
    width: 670px;
    height: 300px;
    z-index: 0;
  }
}

@media screen and (min-width: 351px) {
  .footer {
    width: 80%;
    margin: 0 auto;
  }

  .body > .new-msg {
    width: 80%;
    margin: 0 auto;
  }
}
